@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "h h" "m m" "f f"; }

/*----------HEADER-------*/
header {
  grid-area: h;
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #111;
  box-shadow: 0 1px 15px #333b3b;
  z-index: 2; }
  header #carritoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-radius: 35px;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer; }
    header #carritoLink #numeroDeLatas {
      display: block;
      color: #F5F5DC;
      font-size: 3rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      margin-right: 1rem; }
  header #carritoLink:hover {
    background-color: #d4188c; }

.shopping-cart {
  width: 3rem;
  height: 100%;
  margin-right: 25px; }

.btn, main .cards-group .card .card-btn, .btn-logIn {
  font-family: 'Montserrat', sans-serif;
  color: beige;
  font-size: 1.3rem;
  font-weight: 900;
  margin-left: 1rem;
  text-decoration: none;
  background-color: #354a50;
  padding: 1rem;
  margin: 2rem;
  border-radius: 75px;
  border: none;
  cursor: pointer; }

.btn:hover, main .cards-group .card .card-btn:hover, .btn-logIn:hover {
  background-color: #d4188c; }

/*----------HEADER END-------*/
/*----------MAIN-------*/
main {
  grid-area: m;
  display: grid;
  grid-template-areas: "logo logo" "latas carrito";
  flex-direction: column;
  align-items: flex-start;
  /*----------CARDS-------*/ }
  main .logoLaurus {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px 15px #333b3b; }
    main .logoLaurus img {
      width: 30%; }
  main .cards-group {
    grid-area: latas;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    margin-bottom: 5rem; }
    main .cards-group .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #EEE;
      border: 1px solid #222;
      width: 25%;
      height: auto;
      overflow: hidden;
      margin: 1rem;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      box-shadow: -3px 6px 15px #333b3b;
      border-radius: 12px; }
      main .cards-group .card img {
        max-width: 100%;
        height: auto; }
      main .cards-group .card .card-title {
        font-size: 1.5rem;
        font-weight: bolder;
        background-color: #d4188c;
        width: 100%;
        color: beige;
        box-shadow: 0 1px 15px #333b3b; }
      main .cards-group .card .card-list {
        list-style: none;
        font-size: 1.2rem;
        background-color: #222;
        width: 100%;
        color: beige; }
      main .cards-group .card .price {
        font-weight: bolder; }
      main .cards-group .card .card-btn {
        text-align: center;
        width: 80%;
        height: auto;
        padding: 0.5rem;
        margin: 0 0 0.5rem 0;
        border-radius: 0px;
        width: 100%;
        margin-bottom: 0; }
      main .cards-group .card .card-btn:hover {
        background-color: #d4188c; }

/*----------CARDS END-------*/
/*----------SHOPPPING CART------*/
#container_pack {
  grid-area: carrito;
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px; }

#carrito {
  display: none;
  width: 75%;
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 1px solid #111;
  border-radius: 12px;
  background-color: #111;
  box-shadow: 0px 10px 25px #797979;
  font-family: 'Montserrat', sans-serif; }
  #carrito p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white; }
  #carrito h2 {
    font-size: 2rem;
    background-color: #d4188c;
    border-radius: 18px;
    color: white; }
  #carrito #nombreID {
    font-size: 2.5rem !important;
    margin-top: 1rem; }
  #carrito .negrita {
    font-weight: bolder; }
  #carrito #total {
    font-size: 2.5rem; }

.noMargin {
  margin: 0; }

.contadorMismaLata {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .contadorMismaLata .numMiniLatas {
    font-size: 1.5rem; }
  .contadorMismaLata .flechasContadorLatas {
    background-color: #111;
    border-style: none;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    font-size: 1.5rem;
    cursor: pointer; }
  .contadorMismaLata .paddingLeft {
    padding-left: 0.4rem; }
  .contadorMismaLata .paddingRight {
    padding-right: 0.4rem; }
  .contadorMismaLata .flechasContadorLatas:hover {
    color: #d4188c; }

/*----------SHOPPPING CART END------*/
/*----------------PACK DE LATAS------*/
#packDelComprador {
  display: none;
  width: 50%;
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 1px solid #111;
  border-radius: 12px;
  background-color: #111;
  box-shadow: 0px 10px 25px #797979;
  font-family: 'Montserrat', sans-serif; }
  #packDelComprador h2 {
    font-size: 2rem;
    background-color: #d4188c;
    border-radius: 18px;
    color: white; }
  #packDelComprador p {
    font-weight: bolder;
    margin: 1rem 0 1rem 0;
    color: white; }
  #packDelComprador .contenedorMiniLata {
    display: flex;
    flex-direction: row; }
    #packDelComprador .contenedorMiniLata .numMiniLatas {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  #packDelComprador .cantidadMismaLata {
    width: 25%;
    border-style: none;
    justify-self: flex-end; }
  #packDelComprador .elementoLata {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  #packDelComprador .imagenLataChica {
    width: 10%;
    height: auto; }
    #packDelComprador .imagenLataChica img {
      width: 100%; }

/*------------PACK DE LATAS END------*/
/*----------FOOTER------*/
footer {
  grid-area: f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #111; }
  footer p {
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: 1.3rem;
    margin-left: 1rem; }
  footer a {
    color: beige;
    text-decoration: none; }
  footer a:hover {
    color: #ff59bf; }
  footer .redes {
    margin-right: 1rem; }
  footer .footer-icon {
    fill: beige;
    width: 2rem;
    height: 100%;
    margin-right: 0.5rem; }
  footer .footer-icon:hover {
    fill: #d4188c; }

/*----------FOOTER END------*/
/*---------MODAL BOX-----------*/
#modalBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  #modalBackground #modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 7.5% auto;
    width: 60%;
    height: 60%;
    border-radius: 25px;
    box-shadow: 0px 25px 75px #3a3a3a; }
    #modalBackground #modalContent #textModal {
      font-family: 'Montserrat', sans-serif;
      color: #222;
      font-size: 2.5rem;
      font-weight: bolder;
      margin: 2% 10% 2% 10%; }
    #modalBackground #modalContent .modalBtns {
      font-family: 'Montserrat', sans-serif;
      color: #222;
      background-color: white;
      font-size: 2.5rem;
      font-weight: bolder;
      padding: 0 2% 0 2%;
      width: 25%;
      margin-top: 2%;
      border-radius: 12px;
      box-shadow: 0px 1px 15px #dadada; }
    #modalBackground #modalContent .modalBtns:hover, #modalBackground #modalContent .modalBtns:focus {
      color: white;
      background-color: #d4188c; }

/*---------MODAL BOX END-----------*/
/*----------INICIO DE SESION END--------*/
#iniciarSesion {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  #iniciarSesion #sesionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    background-color: white;
    margin: 7.5% auto;
    width: 50%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 25px 75px #3a3a3a;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 2.5rem;
    font-weight: bolder; }
    #iniciarSesion #sesionContent input {
      font-family: 'Montserrat', sans-serif;
      color: #d4188c;
      font-size: 2rem;
      font-weight: bolder;
      text-align: center;
      width: 75%; }

.btn-logIn {
  width: 65%; }

.btn-logIn:hover {
  background-color: #d4188c; }

/*----THANKS FINAL MESSAGE----*/
#gracias {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  #gracias p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: white;
    margin: 7.5% auto;
    width: 60%;
    height: 40%;
    border-radius: 25px;
    box-shadow: 0px 25px 75px #3a3a3a; }
  #gracias p:hover {
    background-color: #222;
    color: #d4188c; }

/*----THANKS FINAL MESSAGE END----*/
