@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #f0f5ff;
  background-image: url("https://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png");
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "h h" "m m" "f f"; }

/*----------HEADER-------*/
header {
  grid-area: h;
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #222;
  box-shadow: 0 1px 15px #333b3b;
  z-index: 2; }
  header #filtroEstilos {
    grid-area: select;
    align-self: center;
    font-size: 1.5rem;
    background-color: #354a50;
    color: beige;
    font-weight: bolder;
    border: none;
    width: fit-content;
    height: auto;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 25px; }
  header #carritoLink {
    display: flex;
    background-color: #222;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-radius: 35px;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer; }
    header #carritoLink #numeroDeLatas {
      display: block;
      color: #F5F5DC;
      font-size: 3rem;
      font-weight: 500;
      padding-right: 0.5rem;
      transition: 0.5s; }
  header #carritoLink:hover {
    transition: 0.5s;
    background-color: #d4188c; }

.shopping-cart {
  width: 3rem;
  height: auto;
  margin-right: 25px; }

.btn, .card-btn, #modalBackground #modalContent .modalBtns, .btn-logIn {
  font-family: 'Montserrat', sans-serif;
  width: fit-content;
  color: beige;
  font-size: 1.3rem;
  font-weight: 900;
  margin-left: 1rem;
  text-decoration: none;
  background-color: #354a50;
  padding: 1rem;
  margin: 2rem;
  border-radius: 75px;
  border: none;
  cursor: pointer;
  transition: 0.5s; }

.btn:hover, .card-btn:hover, #modalBackground #modalContent .modalBtns:hover, .btn-logIn:hover {
  transition: 0.5s;
  background-color: #d4188c; }

/*----------HEADER END-------*/
/*----------MAIN-------*/
main {
  grid-area: m;
  display: grid;
  grid-template-areas: "logo logo" "select select" "latas carrito";
  flex-direction: column;
  align-items: flex-start; }
  main .logoLaurus {
    background-color: white;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px 15px #333b3b; }
    main .logoLaurus #logoHeader {
      width: 20%;
      height: auto; }

/*----------CARDS-------*/
.cards-group {
  grid-area: latas;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 5rem; }
  .cards-group .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE;
    border: 1px solid #222;
    width: 20%;
    height: 100%;
    overflow: hidden;
    margin: 1rem;
    text-align: center;
    box-shadow: -3px 6px 15px #333b3b;
    border-radius: 12px; }
    .cards-group .card .card-image {
      width: 25%; }
    .cards-group .card img {
      width: 100%;
      height: auto;
      cursor: pointer;
      transition: 0.3s; }
    .cards-group .card img:hover {
      background-color: rgba(0, 64, 82, 0.2); }
    .cards-group .card .card-title {
      font-size: 3vh;
      font-weight: bolder;
      background-color: #d4188c;
      width: 100%;
      color: beige;
      box-shadow: 0 1px 15px #333b3b; }
    .cards-group .card .card-list {
      list-style: none;
      font-size: 2vh;
      background-color: #222;
      width: 100%;
      color: beige; }
    .cards-group .card .price {
      font-weight: bolder; }

.card-btn {
  text-align: center;
  height: auto;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 0; }

.card-btn:hover {
  background-color: #d4188c; }

/*----------CARDS END-------*/
/*----------SHOPPPING CART------*/
#container_pack {
  grid-area: carrito;
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px; }

.gridTemplateColumn {
  grid-template-columns: 7fr 3fr; }

#carrito {
  display: none;
  width: 75%;
  text-align: center;
  margin: 0 1rem 3rem 1rem;
  padding: 1rem;
  border: 1px solid #222;
  border-radius: 12px;
  background-color: #222;
  box-shadow: 0px 10px 25px #797979; }
  #carrito p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: beige; }
  #carrito h2 {
    font-size: 1.8rem;
    background-color: #d4188c;
    border-radius: 18px;
    color: beige; }
  #carrito #nombreID {
    font-size: 2.5rem !important;
    margin-bottom: 0; }
  #carrito #pagarBtn {
    margin: 0; }
  #carrito .negrita {
    font-weight: bolder; }
  #carrito #total {
    font-size: 2.5rem; }

.noMargin {
  margin: 0; }

.contadorMismaLata {
  display: flex;
  flex-direction: row;
  /* align-items: center; */ }
  .contadorMismaLata .numMiniLatas {
    font-size: 1.5rem; }
  .contadorMismaLata .flechasContadorLatas {
    background-color: #222;
    border-style: none;
    font-size: 1rem;
    font-weight: bolder;
    color: beige;
    font-size: 1.5rem;
    cursor: pointer; }
  .contadorMismaLata .paddingLeft {
    padding-left: 0.4rem; }
  .contadorMismaLata .paddingRight {
    padding-right: 0.4rem; }
  .contadorMismaLata .flechasContadorLatas:hover {
    color: #d4188c; }

/*----------SHOPPPING CART END------*/
/*----------------PACK DE LATAS------*/
#packDelComprador {
  display: none;
  width: 75%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #111;
  border-radius: 12px;
  background-color: #222;
  box-shadow: 0px 10px 25px #797979; }
  #packDelComprador h2 {
    font-size: 1.8rem;
    background-color: #d4188c;
    border-radius: 18px;
    color: beige; }
  #packDelComprador p {
    font-weight: bolder;
    margin: 1rem 0 1rem 0;
    color: beige; }
  #packDelComprador .contenedorMiniLata {
    display: flex;
    flex-direction: row; }
    #packDelComprador .contenedorMiniLata .numMiniLatas {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  #packDelComprador .cantidadMismaLata {
    width: 25%;
    border-style: none;
    justify-self: flex-end; }
  #packDelComprador .elementoLata {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  #packDelComprador .imagenLataChica {
    width: 10%;
    height: auto; }
    #packDelComprador .imagenLataChica .miniImagenLatas {
      width: 100%; }

.cerrar, .cerrarLata {
  display: flex;
  flex-direction: row-reverse;
  color: beige;
  cursor: pointer;
  font-weight: bolder; }

.cerrar:hover, .cerrarLata:hover {
  color: #ff004c; }

.cerrarLata {
  font-size: 0.7rem;
  margin-left: 0.25rem; }

/*------------PACK DE LATAS END------*/
/*----------FOOTER------*/
footer {
  grid-area: f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #111;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png"); }
  footer p {
    color: beige;
    font-size: 1.3rem;
    margin-left: 1rem; }
  footer a {
    color: beige;
    text-decoration: none; }
  footer a:hover {
    color: #ff59bf; }
  footer .redes {
    margin-right: 1rem; }
  footer .footer-icon {
    fill: beige;
    width: 2rem;
    height: 100%;
    margin-right: 0.5rem; }
  footer .footer-icon:hover {
    fill: #d4188c; }

/*----------FOOTER END------*/
/*---------MODAL BOX-----------*/
#modalBackground {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  #modalBackground #modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 7.5% auto;
    padding-bottom: 1rem;
    width: 60%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 25px 75px #3a3a3a; }
    #modalBackground #modalContent #modalLogoLaurus {
      width: 100%;
      height: auto; }
      #modalBackground #modalContent #modalLogoLaurus img {
        max-width: 50%;
        width: 100%; }
    #modalBackground #modalContent #textModal {
      color: #222;
      font-size: 2.5rem;
      font-weight: bolder;
      margin: 2% 10% 2% 10%; }
    #modalBackground #modalContent .modalBtns {
      font-size: 2.5rem;
      font-weight: bolder;
      padding: 0 2% 0 2%;
      width: 25%;
      margin: 2% 1% 0 1%;
      border-radius: 12px;
      box-shadow: 0px 1px 15px #dadada; }
    #modalBackground #modalContent .modalBtns:hover, #modalBackground #modalContent .modalBtns:focus {
      color: white;
      background-color: #d4188c; }

/*---------MODAL BOX END-----------*/
/*----------INICIO DE SESION--------*/
#iniciarSesion {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  #iniciarSesion #sesionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    background-color: white;
    margin: 7.5% auto;
    width: 50%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 25px 75px #3a3a3a;
    color: #222;
    font-size: 2.5rem;
    font-weight: bolder; }
    #iniciarSesion #sesionContent input {
      font-family: 'Montserrat', sans-serif;
      color: #d4188c;
      font-size: 2rem;
      font-weight: bolder;
      text-align: center;
      width: 75%; }

.btn-logIn {
  width: 65%; }

.btn-logIn:hover {
  background-color: #d4188c; }

/*----------INICIO DE SESION END--------*/
/*--------SWEET ALERT -----------*/
.popupSwal {
  color: #222;
  border-radius: 45px; }

/*--------SWEET ALERT END-----------*/
/*-----------IMAGE MODAL-----------*/
.imageModalBackground {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-33deg, rgba(78, 9, 52, 0.89), rgba(0, 64, 82, 0.89)); }

.imageModalContent {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: auto; }
  .imageModalContent .textoModal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 1rem;
    border-radius: 25px;
    width: 28%;
    text-align: center;
    box-shadow: 0 1px 15px black; }
  .imageModalContent h5 {
    font-size: 3rem;
    font-weight: bolder;
    background-color: #d4188c;
    border-radius: 12px;
    width: 100%;
    height: fit-content;
    color: beige;
    box-shadow: 0 1px 15px #002129; }
  .imageModalContent p {
    font-size: 1.4rem;
    color: beige;
    width: 100%;
    margin-top: 1rem; }
  .imageModalContent img {
    width: 27%;
    margin-right: 1rem;
    -webkit-filter: drop-shadow(-25px 25px 25px #222);
    filter: drop-shadow(-25px 25px 25px #222); }
  .imageModalContent .modal-btn {
    width: 75%;
    border-radius: 25px;
    margin-top: 0.5rem; }

.closeModal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: beige;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.closeModal:hover,
.closeModal:focus {
  color: #d4188c;
  text-decoration: none;
  cursor: pointer; }

/*-----------IMAGE MODAL END-----------*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*------------------------@ MEDIAS QUERY @-----------------------------------*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*------------------CELLPHONE------------------*/
@media only screen and (min-width: 360px) and (max-width: 576px) {
  header {
    height: 60px; }
    header #filtroEstilos {
      font-size: 0.8rem;
      margin-right: 1rem; }
    header #btnLogIn {
      font-size: 1rem;
      padding: 0.7rem; }
    header #carritoLink {
      height: 80%;
      border-radius: 35px;
      padding: 0 0.3rem 0 0.3rem; }
      header #carritoLink #numeroDeLatas {
        font-size: 2rem;
        border: 0; }
    header .shopping-cart {
      width: 2rem;
      height: 80%;
      margin-right: 0.5rem; }
  /*--------MAIN-----------*/
  main {
    grid-template-columns: 12fr !important;
    grid-template-areas: "logo" "carrito" "latas"; }
  /*--------MAIN END-----------*/
  /*----------SHOPPPING CART------*/
  #container_pack {
    position: inherit; }
  #packDelComprador {
    width: 80%;
    margin-bottom: 0.5rem; }
    #packDelComprador h2 {
      font-size: 1.5rem; }
    #packDelComprador p {
      margin: 0.5rem 0 0.5rem 0; }
  #carrito {
    width: 80%;
    margin-bottom: 0; }
    #carrito p {
      font-size: 0.8rem;
      margin-bottom: 0.5rem; }
    #carrito h2 {
      font-size: 1.5rem; }
    #carrito #nombreID {
      font-size: 1.5rem !important;
      margin-top: 0; }
    #carrito #total {
      font-size: 1.5rem; }
    #carrito #pagarBtn {
      margin: 0; }
  /*----------SHOPPPING CART END------*/
  /*----------CARDS-------*/
  .cards-group .card {
    width: 50%; }
  /*----------CARDS END-------*/
  /*----------FOOTER------*/
  footer {
    grid-area: f;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #111; }
    footer p {
      font-size: 0.7rem;
      margin: 0 0 1% 0; }
    footer .redes {
      margin: 2% 0 1% 0; }
      footer .redes .footer-icon {
        width: 1.2rem; }
  /*----------FOOTER END------*/
  /*------------MODAL----------*/
  #modalBackground #modalContent {
    margin: 50% auto;
    width: 90%; }
    #modalBackground #modalContent #modalLogoLaurus {
      margin-top: 1rem; }
    #modalBackground #modalContent #textModal {
      font-size: 1.2rem;
      margin: 5%; }
    #modalBackground #modalContent .modalBtns {
      font-size: 1.5rem;
      padding: 2%;
      width: 35%;
      margin: 2% 1% 2% 1%; }
  /*------------MODAL END----------*/
  /*----------INICIO DE SESION--------*/
  #iniciarSesion #sesionContent {
    margin: 25% auto;
    width: 75%;
    font-size: 1.2rem; }
    #iniciarSesion #sesionContent input {
      font-size: 1.5rem;
      width: 90%;
      margin-bottom: 1rem; }
  .btn-logIn {
    font-size: 1.2rem;
    width: 75%;
    border-radius: 25px;
    padding: 0.5rem;
    margin: 0.5rem; }
  /*----------INICIO DE SESION END--------*/
  /*-----------IMAGE MODAL-----------*/
  .imageModalContent {
    flex-direction: column; }
    .imageModalContent .textoModal {
      padding: 0.5rem;
      border-radius: 12px;
      width: 80%;
      z-index: 2; }
    .imageModalContent h5 {
      font-size: 1rem;
      font-weight: bolder;
      background-color: #d4188c;
      border-radius: 12px;
      width: 100%;
      height: fit-content;
      color: beige;
      box-shadow: 0 1px 15px #002129; }
    .imageModalContent p {
      font-size: 0.8rem;
      margin-top: 0.5rem; }
    .imageModalContent img {
      width: 68%;
      margin: 0; }
    .imageModalContent .modal-btn {
      font-size: 0.8rem;
      width: 50%; }
  /*-----------IMAGE MODAL END-----------*/ }

/*------------------CELLPHONE END------------------*/
/*-------------------TABLETS-------------------------*/
@media only screen and (min-width: 576px) and (max-width: 768px) {
  header #filtroEstilos {
    font-size: 1rem; }
  /*----------CARDS-------*/
  .cards-group .card {
    width: 40%; }
    .cards-group .card .card-title {
      font-size: 1.8vh; }
    .cards-group .card .card-list {
      font-size: 1.4vh; }
  /*----------CARDS END-------*/
  #packDelComprador {
    width: 75%;
    margin-bottom: 0.5rem; }
    #packDelComprador h2 {
      font-size: 1rem; }
    #packDelComprador p {
      margin: 0.2rem 0 0.2rem 0;
      font-size: 1rem; }
  /*-----------IMAGE MODAL-----------*/
  .imageModalContent {
    flex-direction: column; }
    .imageModalContent .textoModal {
      padding: 0.5rem;
      border-radius: 12px;
      width: 85%;
      z-index: 2; }
    .imageModalContent h5 {
      font-size: 2rem;
      font-weight: bolder;
      background-color: #d4188c;
      border-radius: 12px;
      width: 100%;
      height: fit-content;
      color: beige;
      box-shadow: 0 1px 15px #002129; }
    .imageModalContent p {
      font-size: 1rem;
      margin-top: 0.2rem; }
    .imageModalContent img {
      width: 60%;
      margin: 0; }
    .imageModalContent .modal-btn {
      font-size: 1rem;
      width: 25%; }
  /*-----------IMAGE MODAL END-----------*/ }

/*-------------------TABLETS ENDS-------------------------*/
/*--------------------------MEDIAS QUERY END-------------------------------*/
