@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: #111;
    
}


.boton-header{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 1rem;
    text-decoration: none;
    background-color: rgb(212, 24, 140);
    padding: 1rem;
    margin: 2rem;
    border-radius: 75px;
}

.shopping-cart {
    width: 4rem;
    height: 100%;
    margin-right: 25px;

}

.logoLaurus{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.logoLaurus img{
    width: 30%;
}

.cards-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 5rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE;
    border: 1px solid #222;
    width: 15%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    
}

.card img {
    border-bottom: 1px solid #333;
    max-width: 100%;
    height: auto;
    
}

.card-button{
    background-color: #444;
    color: beige;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-size: 2rem;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #111;
    
}

footer p{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: 1.3rem;
    margin-left: 1rem;
}

footer a{
    color: beige;
    text-decoration: none;
    
}

footer a:hover{
    color: rgb(255, 89, 191);
}

.redes{
    margin-right: 1rem;
}

.footer-icon{
    fill: #c7c7c7;
    width: 2rem;
    height: 100%;
    margin-right: 0.5rem;
}