/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: #111;
    
}

#carritoLink{
    display: flex;
    justify-content: center;
}

#carritoLink:hover{
    background-color:rgb(212, 24, 140);
}*/

/* #numeroDeLatas{
    display: block;
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-right: 1rem;
} */

/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .btn-magenta{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 1rem;
    text-decoration: none;
    background-color: rgb(212, 24, 140);
    padding: 1rem;
    margin: 2rem;
    border-radius: 75px;
} */

/* .shopping-cart {
    width: 4rem;
    height: 100%;
    margin-right: 25px;

} */

/* .logoLaurus{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 15rem;
    padding-bottom: 15rem;
} */

/* .logoLaurus img{
    width: 30%;
} */

/* .cards-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 5rem;
} */

/* .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE;
    border: 1px solid #222;
    width: 15%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    
} */

/* .card img {
    border-bottom: 1px solid #333;
    max-width: 100%;
    height: auto;
    
} */

/* .card-button{
    background-color: #444;
    color: beige;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-size: 2rem;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-button:hover {
    background-color: rgb(212, 24, 140);
} */



/* footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #111;
    
} */

/* footer p{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: 1.3rem;
    margin-left: 1rem;
}

footer a{
    color: beige;
    text-decoration: none;
    
}

footer a:hover{
    color: rgb(255, 89, 191);
}

.redes{
    margin-right: 1rem;
}

.footer-icon{
    fill: #c7c7c7;
    width: 2rem;
    height: 100%;
    margin-right: 0.5rem;
} */

/*----------CARRITO----------*/


/* #carrito {
    display: none;
    width: 50%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 12px;
    background-color:#111;
    box-shadow: 0px 10px 25px rgb(121, 121, 121);
    font-family: 'Montserrat', sans-serif;
}


#carrito p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

#carrito h2{
    font-size: 3rem;
    background-color: rgb(212, 24, 140);
    border-radius: 18px;
    color: white;
}

#nombreID{
    font-size: 2.5rem!important;
    margin-top: 1rem;
}

.negrita{
    font-weight: bolder;
}

#total{
    font-size: 2.5rem;
}


#gracias{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#gracias p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: white;
    margin: 7.5% auto;
    width: 60%;
    height: 40%;
    border-radius: 25px;
    box-shadow: 0px 25px 75px rgb(58, 58, 58);
}


#gracias p:hover{
    background-color: #222;
    color: rgb(212, 24, 140);
} */


/*----------------PACK DE LATAS------*/

/* #packDelComprador{
    display: none;
    width: 50%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 12px;
    background-color:#111;
    box-shadow: 0px 10px 25px rgb(121, 121, 121);
    font-family: 'Montserrat', sans-serif;
}


#packDelComprador h2{
    font-size: 3rem;
    background-color: rgb(212, 24, 140);
    border-radius: 18px;
    color: white;
}

#packDelComprador p{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem 0 1rem 0;
    color: white;
}

.elementoLata{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenLataChica{
    width: 10%;
    height: auto;
}

.imagenLataChica img{
    width: 100%;
}
 */

/*------------MODAL BOX----------------*/

/* #modalBackground{
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modalContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 7.5% auto;
    width: 60%;
    height: 60%;
    border-radius: 25px;
    box-shadow: 0px 25px 75px rgb(58, 58, 58);

} */

/* #textModal{
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 2% 10% 2% 10%;
} */

/* .modalBtns{
    font-family: 'Montserrat', sans-serif;
    color: #222;
    background-color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 0 2% 0 2%;
    width: 25%;
    margin-top: 2%;
    border-radius: 12px;
    box-shadow: 0px 1px 15px rgb(218, 218, 218);
}

.modalBtns:hover, .modalBtns:focus{
    color: white;
    background-color: rgb(212, 24, 140);
} */



/*----------INICIO DE SESION--------*/
/* #iniciarSesion{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
} */

/* #sesionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background-color: white;
    margin: 7.5% auto;
    width: 50%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 25px 75px rgb(58, 58, 58);
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 2.5rem;
    font-weight: bolder;

} */
/* 
#logInBtn{
    width: 100%;
} */

/* input{
    font-family: 'Montserrat', sans-serif;
    color: rgb(212, 24, 140);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    width: 75%;
} */