@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display:grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
                        "h h"
                        "m m"
                        "f f";
}


/*----------HEADER-------*/
header {
    grid-area: h;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #111;

    #carritoLink{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        border-radius: 35px;
        padding: 0 0.5rem 0 0.5rem;
        

        #numeroDeLatas{
            display: block;
            color: #F5F5DC;
            font-size: 3rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            margin-right: 1rem;
        }
    }

    #carritoLink:hover{
        background-color:rgb(212, 24, 140);
    }

   

  
    
}

.shopping-cart {
    width: 3rem;
    height: 100%;
    margin-right: 25px;
}


.btn{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 1rem;
    text-decoration: none;
    background-color: #555;
    padding: 1rem;
    margin: 2rem;
    border-radius: 75px;
    border: none;
}

.btn:hover{
    background-color: rgb(212, 24, 140);
}

/*----------HEADER END-------*/


/*----------MAIN-------*/
main{
    grid-area:m;
    display:grid;
    grid-template-areas: "logo logo"
                        "latas carrito";
    flex-direction: column;
    align-items: center;

    .logoLaurus{
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;

        img {
            width: 30%;
        }
    }

/*----------CARDS-------*/
    .cards-group{
        grid-area: latas;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-self: flex-start;
        margin-bottom: 5rem;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #EEE;
            border: 1px solid #222;
            width: 25%;
            height: auto;
            overflow: hidden;
            margin: 1rem;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            box-shadow: -3px 6px 15px rgb(51, 59, 59);
            border-radius: 12px;
                        
            img{
                border-bottom: 1px solid #333;
                max-width: 100%;
                height: auto;  
            }          

            .card-title{
                font-size: 2rem;
                font-weight: bolder;
            }

            .card-list{
                list-style: none;
                font-size: 1.2rem;
                
            }

            .price{
                font-weight: bolder;
            }

            .card-btn{
                @extend .btn;
                text-align: center;
                width: 80%;
                height: auto;
                padding: 0.5rem;
                margin: 0 0 0.5rem 0;
                border-radius: 35px;
     
            }
            .card-btn:hover {
                background-color: rgb(212, 24, 140);

            } 
            
        }
    }
}

/*----------CARDS END-------*/


/*----------SHOPPPING CART------*/
#container_pack{
    grid-area: carrito;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrito {
    display: none;
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 12px;
    background-color:#111;
    box-shadow: 0px 10px 25px rgb(121, 121, 121);
    font-family: 'Montserrat', sans-serif;

    p{
        font-size: 1rem;
        margin-bottom: 1rem;
        color: white;
    }

    h2{
        font-size: 2rem;
        background-color: rgb(212, 24, 140);
        border-radius: 18px;
        color: white;
    }

    #nombreID{
        font-size: 2.5rem!important;
        margin-top: 1rem;
    }
    
    .negrita{
        font-weight: bolder;
    }
    
    #total{
        font-size: 2.5rem;
    }    
}

.noMargin{
    margin: 0;
}

.contadorMismaLata{
    display: flex;
    flex-direction: row;
}
/*----------SHOPPPING CART END------*/

/*----------------PACK DE LATAS------*/

#packDelComprador{
    display: none;
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 12px;
    background-color:#111;
    box-shadow: 0px 10px 25px rgb(121, 121, 121);
    font-family: 'Montserrat', sans-serif;

    h2{
        font-size: 2rem;
        background-color: rgb(212, 24, 140);
        border-radius: 18px;
        color: white;
    }

    p{
        font-size: 1rem;
        font-weight: bolder;
        margin: 1rem 0 1rem 0;
        color: white;
    }

    .contenedorMiniLata{
        display: flex;
        flex-direction: row;

        .numMiniLatas{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

    }
    .cantidadMismaLata{
        width: 25%;
        border-style: none;
        justify-self: flex-end;
        
    }

    .elementoLata{
        display: flex;
        justify-content: flex-start;
        align-items:center; 
    }
    
    .imagenLataChica{
        width: 10%;
        height: auto;

        img{
            width: 100%;
        }
    }

   
}

/*------------PACK DE LATAS END------*/


/*----------FOOTER------*/
footer {
    grid-area: f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #111;

    p{
        font-family: 'Montserrat', sans-serif;
        color: beige;
        font-size: 1.3rem;
        margin-left: 1rem; 
    }
    
    a{
        color: beige;
        text-decoration: none;
    }
    a:hover{
        color: rgb(255, 89, 191);
    }
    
    .redes{
        margin-right: 1rem;
    }
    
  
    .footer-icon{
        fill:  beige;
        width: 2rem;
        height: 100%;
        margin-right: 0.5rem;
    }

    .footer-icon:hover{
        fill:  rgb(212, 24, 140);
    }
}

/*----------FOOTER END------*/



/*---------MODAL BOX-----------*/
#modalBackground{
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    #modalContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: white;
        margin: 7.5% auto;
        width: 60%;
        height: 60%;
        border-radius: 25px;
        box-shadow: 0px 25px 75px rgb(58, 58, 58);

        #textModal{
            font-family: 'Montserrat', sans-serif;
            color: #222;
            font-size: 2.5rem;
            font-weight: bolder;
            margin: 2% 10% 2% 10%;
        }

        .modalBtns{
            font-family: 'Montserrat', sans-serif;
            color: #222;
            background-color: white;
            font-size: 2.5rem;
            font-weight: bolder;
            padding: 0 2% 0 2%;
            width: 25%;
            margin-top: 2%;
            border-radius: 12px;
            box-shadow: 0px 1px 15px rgb(218, 218, 218);
        }
        
        .modalBtns:hover, .modalBtns:focus{
            color: white;
            background-color: rgb(212, 24, 140);
        }
    
    }
}
/*---------MODAL BOX END-----------*/

/*----------INICIO DE SESION END--------*/
#iniciarSesion{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    #sesionContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        text-align: center;
        background-color: white;
        margin: 7.5% auto;
        width: 50%;
        height: auto;
        border-radius: 25px;
        box-shadow: 0px 25px 75px rgb(58, 58, 58);
        font-family: 'Montserrat', sans-serif;
        color: #222;
        font-size: 2.5rem;
        font-weight: bolder;

        
        
        input{
            font-family: 'Montserrat', sans-serif;
            color: rgb(212, 24, 140);
            font-size: 2rem;
            font-weight: bolder;
            text-align: center;
            width: 75%;
        }
    
    }
}

.btn-logIn{
    @extend .btn;
    width: 65%;
}

.btn-logIn:hover{
    background-color: rgb(212, 24, 140);
}
/*----THANKS FINAL MESSAGE----*/
#gracias{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #222;
        font-size: 2.5rem;
        font-weight: bolder;
        background-color: white;
        margin: 7.5% auto;
        width: 60%;
        height: 40%;
        border-radius: 25px;
        box-shadow: 0px 25px 75px rgb(58, 58, 58);
    }

    p:hover{
        background-color: #222;
        color: rgb(212, 24, 140);
    }
}

/*----THANKS FINAL MESSAGE END----*/